:root {
    --primary-color: rgb(133, 155, 255);
    --secondary-color: #2ecc71;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0px 0px;
}

.sectionBox {
    background: var(--primary-color);
    padding: 10px 20px;
}

.dropShadow {
    box-shadow: 0px 6px 5px 0px black;
}

.siteBranding {
    float: left;
    width: 90%;
    height: auto;
    display: flex;
}
.siteTitle {
    font-weight: bold;
    font-size: 25px;
    line-height: 1;
    margin: 0px 0px;
}
.siteTitle-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    height: 80%;
    margin: auto 40px;
    padding-left: 40px;
    border-left: 2px solid black;
    align-items: flex-start;
}

.navBackground {
    width: 40%;
    margin: 0px auto;
}
.topNav {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-end;
    width: 100%;
    height: 10px;
    margin: auto auto;
    gap: 10px;
}
.navItem {
    text-decoration: underline;
    color: black;
    width: 100%;
    max-width: 100px;
    background: white;
    border-radius: 40%;
    text-align: center;
    padding: 5px 10px;
}
.navItem:hover {
    border-radius: 10%;
    transform: scale(1.1);
    transition: border-radius 0.2s;
}

.pageTitleText {
    color: color(from --primary-color 0 0 0);
    font-weight: bold;
    font-size: 40px;
    
    margin-top: 0px;
    margin-bottom: 10px;
}
.pageMiniTitleText {
    font-weight: 500;
    font-size: 20px;
}

.homeButton {
    height: 100%;
    width: auto;
}
.homeButton:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.contentBox {
    width: 60%;
}

.builtInLink {
    color: darkblue;
}

.homePageWithImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    margin-top: 60px;
}
.homePageGallery {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.homePageGalleryItem {
    width: 120px;
    height: 120px;
    margin: 10px;
}
.homePageGallery a {
    display: block;
    width: 100%;
    height: 100%;
}
.homePageGallery img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10%;
    transition: all 0.2s;
    object-fit: cover;
}
.homePageGallery img:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.measureGarageFigure {
    display: flex;
    width: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

@media (max-width: 1000px) {
    .contentBox {
        width: 80%;
        transition: width 0.5s;
    }

    .siteTitle {
        font-size: 15px;
    }
    .siteTitle-container {
        width: 100%;
    }

    .navBackground {
        width: 70%;
    }
    .navItem {
        width: 10%;
        height: 30px;
        font-size: 10px;
    }

    .homeButton {
        height: auto;
        width: 100%;
    }
    .homePageWithImages {
        gap: 5px;
    }
    .homePageGalleryItem {
        width: 50px;
        height: 50px;
    }
}